# YAML linting configuration for Cognitive Meeting Intelligence System

extends: default

rules:
  line-length:
    max: 120
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']
  comments:
    min-spaces-from-content: 2
  indentation:
    spaces: 2
  document-start:
    present: false